.coffee-background {
  background-image: url(cat-cafe-banner.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.tech-background {
  background-color: #d6d4cb;
  height: max-content;
}

.tech-section {
  max-width: 100%;
}

.banner-p {
  width: 40vw;
}

.header-title {
  color: white;
}

.tech-icons {
  width: 84px;
  height: 84px;
}

.img-fluid {
  background-size: cover;
  border-radius: 50%;
  border: 10px solid rgb(83, 82, 81);
  transition: transform 0.3s ease-in-out;
  width: 150px;
}

.img-fluid:hover {
  transform: scale(1.05);
}

.members-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.members {
  width: 200px;
  height: 270px;
  text-align: center;
}

.member-accounts:hover {
  color: rgb(66, 66, 66);
}

/* Animaciones */
@keyframes fade-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade-in {
  animation-name: fade-in;
  animation-duration: 1s;
}

.bi-icon {
  font-size: 3rem;
  margin: 0 5px;
}
