.coffeeBackground {
  background-image: url(cat-cafe-banner.jpeg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.techBackground {
  background-color: #d6d4cb;
  height: 400px;
}

.bannerP {
  width: 40vw;
}
.headerTitle {
  color: white;
}

.techIcons {
  font-size: 72px;
}

/* Imágenes */
.imgFluid {
  background-size: cover;
  border-radius: 50%;
  border: 10px solid rgb(83, 82, 81);
  transition: transform 0.3s ease-in-out;
  width: 150px;
}

.skills {
  transition: transform 0.3s ease-in-out;
}

.skills:hover {
  transform: scale(1.05);
}

.imgFluid:hover {
  transform: scale(1.05);
}

/* Animaciones */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

.bi-icon {
  font-size: 3rem;
  margin: 0 5px;
}
