.about {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-image: url(paper.png);
}

.aboutTitle {
  position: relative;
  font-size: 48px;
  color: #fcf402;
  left: 0;
  right: 0;
}

.team {
  background-image: url(https://i.pinimg.com/564x/ba/53/e2/ba53e2e28dfb63d10e4e7b7ea6145da3.jpg);
}

section h2 {
  font-size: 2rem;
  color: #fcf402;
}

section p {
  font-size: 1.1rem;
  line-height: 1.6;
}

section ul {
  list-style-type: none;
  padding: 0;
}

section ul li {
  margin-bottom: 10px;
}

.michiPhoto {
  width: 300px;
  height: 300px;
  background-size: cover;
  border-radius: 50%;
  border: 10px solid rgb(83, 82, 81);
  transition: transform 0.3s ease-in-out;
}

.michiPhoto:hover {
  transform: scale(1.05);
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fadeIn {
  animation-name: fadeIn;
  animation-duration: 1s;
}

button {
  background-color: #fcf402;
}
