@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

a:hover {
  color: #fcf402;
}

body {
  font-family: "hammersmith One" regular;
}

p,
a,
h3,
span,
input,
button {
  font-family: "Hammersmith One", sans-serif;
}

h2 {
  font-family: "Chewy", cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.a {
  color: #000;
  font-family: "Hammersmith One";
}

/* button */

.btn-component {
  background-color: #1a1a1a;
  color: white;
  border-radius: 50px;
  padding: 7px;
  font-size: 1rem;
  transition: 0.3s;
  border: none;
  margin-top: auto;
  font-family: "Hammersmith One", sans-serif;
  text-decoration: none;
}

.btn-component:hover {
  transform: scale(1.05);
  transition: 0.3s;
  color: white;
}

.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: space-between;
}

/* .content {
  flex: 1;
} */
