@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

.carousel-container {
  background-color: #ffffee;
  padding: 20px;
  border-radius: 10px;
}

.title {
  color: #cf933f;
  font-family: "Chewy", cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.subtitle {
  color: black;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.5rem;
}

.card {
  background-color: #ffffee00;
  border-radius: 10px;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content {
  margin-bottom: 2rem;
}

.card:hover {
  transform: scale(1.05);
}

.card-image {
  height: 200px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.card-title {
  color: #cf933f;
  font-family: "Chewy", cursive;
  font-size: 2rem;
  /* margin-top: -0.5rem; */
}

.card-text {
  color: black;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.2rem;
  margin-top: 0.5rem;
  padding: 0 10px;
}
