@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Montserrat=swap");

@import url("https://fonts.googleapis.com/css2?family=Poppinsswap");

.carouselContainer {
  background-color: #ffffee;
}

.title {
  color: #cf933f;
  font-family: "Chewy", cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.subtitle {
  color: black;
  font-family: "Hammersmith One", sans-serif;
}

.card {
  background-color: #ffffee00;
  border-radius: 10px;
  transition: transform 0.3s;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 1);
  height: 400px;
}

.card:hover {
  transform: scale(1.05);
}

.cardImage {
  height: 200px;
  object-fit:cover;
  border-radius: 10px 10px 0 0;
  width: 100%;
}

.cardTitle {
  color: #cf933f;
  font-family: "Chewy", normal;
  font-size: 3rem;
  margin-top: 0.5rem;
}

.cardText {
  color: black;
  font-family: "Hammersmith One", sans-serif;
  font-size: 1.2rem;
  margin-top: 0.5rem;
}
