@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

.carouselContainer {
  background-color: #1a1a1a;
  text-align: center;
  padding: 4%;
}

.title {
  color: #fcf402;
  font-family: "Chewy", cursive;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.subtitle {
  color: #d3d3d3;
  font-family: "Hammersmith One", sans-serif;
}

.card {
  background-color: #2c2c2c;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
  height: 50vh;
  border-radius: 20px;
}

.card:hover {
  transform: scale(1.05);
}

.cardImage {
  height: 300px;
  object-fit: cover;
  border-radius: 20px 20px 0 0;
}

.cardTitle {
  color: #fcf402;
  font-family: "Chewy", cursive;
  font-size: 4vh;
  margin-top: 2rem;
}

.cardText {
  color: #d3d3d3;
  font-family: "Hammersmith One", sans-serif;
  font-size: 2vh;
  margin-top: 0.5rem;
}
