/* .map-id {
  width: 100%;
  height: 300px;
  margin-bottom: 100px;
} */

/* .contact {
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("/gatonegro.jpg");
} */

.contact {
  background-color: #d6d4cb;
}

.loginPic {
  width: 400px;
  height: 400px;
}
