@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

/* Parallax effect */
.parallax {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* header */
header {
  background-image: url("header.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: center;
  padding: 110px;
}

.cupCoffee {
  margin-left: 130px;
  height: 100%;
  object-fit: cover;
}

.containerHeader {
  display: flex;
  justify-content: center;
  text-wrap: nowrap;
}

h1 {
  font-family: "Chewy", regular;
  font-size: 8.5vw;
  color: #ffffee;
}

.pHeader {
  font-family: "Hammersmith One";
  font-size: 3.15vw;
  color: #fcf402;
  margin-top: 25px;
  margin-bottom: 27px;
}

.btnHeader {
  padding: 0;
  display: flex;
  width: 18vw;
}

.btnLeft {
  background-color: black;
  color: #fcf402;
  padding: 0.9vw;
  border-radius: 42.5px 0 0 42.5px;
  width: 18%;
  margin-right: 1.7px;
  border: none;
  font-size: 1.25vw;
}

.btnRight {
  flex-grow: 1;
  padding: 0.85vw;
  background-color: black;
  color: #ffffee;
  border-radius: 0 42.5px 42.5px 0;
  border: none;
  font-size: 1.25vw;
}

.btnLeft:active,
.btnRight:active {
  transform: scale(0.95);
  transition: 0.2s;
}

/* Section Categories and carousel products */

.containerCategory {
  background-image: url(paper.png);
  padding: 1.8%;
}

/* cards */
.card {
  border: 5.4px dashed #000;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0);
  width: 100%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
  margin-top: 12.5px;
  padding: 0;
}

.card:hover {
  transform: scale(1.05);
  border-color: #fcf402;
}

.card img {
  width: 67.5%;
  height: 67.5%;
  object-fit: contain;
}

.containerCategory h2 {
  font-family: "Hammersmith One";
  text-align: center;
  color: #000;
}

.containerCategory p {
  font-family: "Hammersmith One";
  font-size: 2.43vw;
  margin-top: 0;
}

a {
  color: #000;
  font-family: "Hammersmith One";
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #fcf402;
}
