@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

/* header */
header {
  position: relative;
}

.headerImage {
  object-fit: cover;
  width: 100%;
}

h1 {
  font-family: "Chewy", regular;
  font-size: 8.5vw;
  color: #ffffee;
  position: absolute;
  left: 12%;
  top: 14%;
}

.pHeader {
  font-family: "Hammersmith One";
  font-size: 3.15vw;
  color: #fcf402;
  position: absolute;
  left: 12%;
  top: 40%;
}

.btnHeader {
  position: absolute;
  left: 12%;
  top: 67.5%;
  padding: 0;
  font-size: 1.275vw;
  display: flex;
  width: 18vw;
}

.btnLeft {
  background-color: black;
  color: #fcf402;
  padding: 0.85vw;
  border-radius: 42.5px 0 0 42.5px;
  width: 18%;
  margin-right: 1.7px;
  border: none;
}

.btnRight {
  flex-grow: 1;
  padding: 0.85vw 1.7vw;
  background-color: black;
  color: #ffffee;
  border-radius: 0 42.5px 42.5px 0;
  border: none;
}

.btnLeft:active,
.btnRight:active {
  transform: scale(0.95);
}

/* Section Categories and carousel products */

.containerCategory {
  background-image: url(paper.png);
  padding: 1.8%;
}


/* cards */
.card {
  border: 5.4px dashed #000;
  border-radius: 11.475px;
  background-color: rgba(255, 255, 255, 0);
  width: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  transition: transform 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

.card:hover {
  transform: scale(1.05);
  border-color: #fcf402;
}

.card img {
  width: 67.5%;
  height: 67.5%;
  object-fit: contain;
}

.containerCategory h2 {
  font-family: "Hammersmith One";
  font-size: 3.06vw;
  text-align: center;
}

.containerCategory p {
  font-family: "Hammersmith One";
  font-size: 2.43vw;
  margin: 15.3px;
  margin-top: 0;
}

.paintedSection {
  background-color: #ffffee;
  display: flex;
  align-items: center;
  border-radius: 11.475px;
  height: 42px;
  width: 92.5%;
  margin-right: 4vw;;
  margin-left: 1.5vw;

}

a {
  color: #000;
  font-family: "Hammersmith One";
  font-weight: bold;
  font-size: 1.53vh; 
  text-decoration: none;
}



.paintedSection a:hover {
  color: #fcf402;
}
