.login {
  background-color: #d6d4cb;
}

.inputForm:hover,
.inputForm:active,
.inputForm:focus {
  box-shadow: none;
  border-color: #000;
}

.formColumn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.customAlert {
  background-color: #ffdd77;
  color: #000;
  border: 1px solid #ffdd77;
  border-radius: 15px;
  padding: 15px;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.customAlert button {
  background: none;
  border: none;
  font-size: 1.2rem;
  color: #000;
  cursor: pointer;
}

.customTooltip {
  background-color: #ffeb3b;
  color: #000;
  border: 1px solid #ffc107;
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
}

.customTooltip .arrow::before {
  border-top-color: #ffeb3b;
}
