 .main {
  background-color: #d89d49;
  background-color: #f5f5f5;
  font-family: "Franklin Gothic Medium", "Libre Franklin Semibold",
    "Arial Narrow", Arial, sans-serif;
  font-size: large;
}

main img {
  max-width: 70%;
  max-height: 100%;
}

.form {
  background-color: #ab7a35;
}

input {
  background-color: #fbebc2;
  font-family: "Franklin Gothic Regular", "Libre Franklin Regular",
    "Arial Narrow", Arial, sans-serif;
}

button {
  background-color: #ffb64f;
}

h2 {
  color: black;
}

a {
  color: #333333;
} 


