.dropdownMenu {
  background-color: #000;
  color: #fff;
  text-align: center;
}

.dropdownHeader {
  color: #fff;
}

.dropdownItem {
  background-color: #000;
  color: #fff;
}

.dropdownItemSelected {
  background-color: #333;
  color: #fff;
}

a {
  font-weight: normal;
}
