@import url("https://fonts.googleapis.com/css2?family=Chewy&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");


.nav{
  animation:scale-up-center .4s cubic-bezier(.39,.575,.565,1.000) both
}

 @keyframes scale-up-center{0%{transform:scale(.5)}100%{transform:scale(1)}}

.dropdownMenu {
  font-family: "Hammersmith One";

  background-color: #000;
  color: #fff;
  text-align: center;
}

.dropdownHeader {
  color: #fff;
}

.dropdownItem {
  background-color: #000;
  color: #fff;
}

.dropdownItemSelected {
  background-color: #333;
  color: #fff;
}

a {
  font-family: "Hammersmith One";

  font-weight: normal;
}
