.rounded_right {
  border-radius: 0 100px 100px 0;
  color: white;
}

.dropdownMenu {
  background-color: #000;
  color: #fff;
}

.dropdownHeader {
  color: #fff;
}

.dropdownItem {
  background-color: #000;
  color: #fff;
}
