.container {
  background-color: #d6d4cb;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.spilledCoffee {
  height: auto;
}

.notFoundText {
  font-size: 7rem;
  margin-bottom: 30px;
}

.btnHome {
  padding: 10px 20px;
  font-size: 2rem;
  background-color: #fbce4f;
  color: black;
  border: none;
  border-radius: 50px;
}

.btnHome:hover {
  color: black;
}

.btnHome:active {
  transform: scale(0.95);
}
