.cardCss {
  background-color: #ffd;
  height: 500px;
  border: 2px solid #eee;
  border-radius: 10px;
  transition: transform 0.3s;
  position: relative;
}

.cardCss:hover {
  transform: scale(1.05);
}
.cardBody {
  height: 500px;
}

.cardBottom {
  align-items: center;
  position: absolute;
  bottom: 20px;
}

img {
  object-fit: cover;
  height: 18.75em;
}

.btn {
  background-color: rgb(155, 155, 85);

  padding: 0.5rem 1rem;
  border-radius: 5px;
  transition: background-color 0.3s;
}
