.products {
  background-color: #d6d4cb;
}

.menu {
  animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  margin-bottom: 20px;
}

@keyframes scale-up-center {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}

.category {
  cursor: pointer;
  font-size: 2vw;
  transition: transform 0.3s ease, font-size 0.3s ease;
}
.category:hover {
  transform: scale(1.05);
}

.category:active {
  transform: scale(1.1);
}
