@import url("https://fonts.googleapis.com/css2?family=Hammersmith+One&display=swap");

.btnClose,
.btnAddToCart {
  background-color: transparent;
  border: 1.5px solid #000;
  color: #000000;
  transition: transform 0.2s ease-in-out;
  border-radius: 30px;
  font-size: 14px;
}

.btnViewCart {
  font-size: 14px;
  text-decoration: none;
  border: 1.5px solid #000;
  border-radius: 30px;
  padding: 6px;
  transition: transform 0.2s ease-in-out;
}

.btnViewCart:hover {
  color: #000;
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}

.btnClose:hover,
.btnAddToCart:hover,
.btnClose:focus,
.btnAddToCart:focus,
.btnClose:active,
.btnAddToCart:active,
.btnClose:active:focus,
.btnAddToCart:active:focus,
.btnClose:active:hover,
.btnAddToCart:active:hover {
  background-color: transparent;
  border-color: #000;
  color: #000;
  box-shadow: none;
  transform: scale(1.05);
}

.noHover {
  border-color: inherit;
  width: 4vw;
  text-align: center;
  background-color: #ffffee;
  border: none;
}

.noHover:focus {
  border-color: inherit;
  box-shadow: none;
}

.volumeSelector {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
}

.volumeOption {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.volumeOption i {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

.selectedIcon {
  color: #ab7a45;
}

.hoverIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

.body {
  background-color: #ffffee;
  border-radius: 10px;
}

.productImage {
  max-width: 100%;
  max-height: 100%;
}
