.btnClose,
.btnAddToCart {
  background-color: transparent;
  border: 2px solid #000;
  color: #000;
  box-shadow: none;
  transition: transform 0.2s ease-in-out;
}

.btnClose:hover,
.btnAddToCart:hover,
.btnClose:focus,
.btnAddToCart:focus,
.btnClose:active,
.btnAddToCart:active,
.btnClose:active:focus,
.btnAddToCart:active:focus,
.btnClose:active:hover,
.btnAddToCart:active:hover {
  background-color: transparent;
  border-color: #000;
  color: #000;
  box-shadow: none;
  outline: none;
}

.btnClose:active,
.btnAddToCart:active {
  transform: scale(0.95);
}

.noHover {
  border-color: inherit;
  width: 50px;
  text-align: center;
  background-color: #ffffee;
  border: none;
}

.noHover:focus {
  border-color: inherit;
  box-shadow: none;
}

.volumeSelector {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.volumeOption {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80px;
}

.volumeOption i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.selectedIcon {
  color: #ab7a45;
}

.hoverIcon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: transform 0.2s ease-in-out;
}

p,
hr {
  margin: 5px;
}

.body {
  background-color: #ffffee;
  border-radius: 100px;
}
