/* Sidebar.css */
.sidebar {
  height: 100%;
  width: 100%;
  padding: 20px;
  background-color: #343a40;
  color: #fff;
  
}

.sidebar a {
  color: #fff;
}

.sidebar a:hover {
  color: #fff;
  background-color: #495057;
}
