body {
  background-color: white;
  /* background-color: #f5f5f5; */

  font-size: large;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.form {
  background-color: #ab7a35;
}

input {
  background-color: #fbebc2;
}

button {
  background-color: #ffb64f;
}

h2 {
  color: black;
}

a {
  color: #333333;
}
