/* src/components/Login.css */
.login-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
}

.login-container form {
  display: flex;
  flex-direction: column;
}

.login-container h2 {
  text-align: center;
  margin-bottom: 20px;
}

.login-container label {
  margin-bottom: 5px;
}

.login-container input {
  margin-bottom: 15px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.login-container button {
  padding: 10px;
  font-size: 16px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.login-container button:hover {
  background-color: #218838;
}
